# To build the fake package: `equivs-build deb-src/gcc-4.8/control`
Section: devel
Priority: optional
Homepage: https://tails.boum.org/
Standards-Version: 3.6.2

Package: gcc-4.8
Maintainer: Tails developers <amnesia@boum.org>
Architecture: all
Description: (Fake) The GNU C compiler
 Work around the fact that linux-headers-3.14-1 depends on gcc-4.8,
 which is unavailable on Wheezy.
