Section: misc
Priority: optional
Homepage: https://amnesia.boum.org/
Standards-Version: 3.6.2

Package: squashfs-modules-2.6-686
Maintainer: T(A)ILS developers <amnesia@boum.org>
Architecture: all
Description: (Fake) Squashfs modules
 Work around the fact that live-build wants to install squashfs-modules-2.6
 on Lenny. We don't need it as we use a backported kernel.
