[Desktop Entry]
Type=Application
Name=Tails Server
Comment=Install and Configure Onion Services
Icon=network-workgroup.svg
Exec=gksudo tails-server
Terminal=false
Categories=Internet;Tails;
Keywords=Tails;Server;Services;Onion;Network;Tor;Anonymous;File Sharing;Voice Chat;VoIP;Collaborative;

